{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
<fieldset class="mt-3 text-dark">
    <legend class="text-center  text-white mx-4" style="background-color: #459DEC;">Modification du site</legend>
    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('site_index') }}"><span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
        <spaan class="text">Retour</spaan>
    </a>

    {{ include('site/_delete_form.html.twig') }}
</fieldset>



{% endblock %}