{% extends 'base.html.twig' %}

{% block title %}Nouvel Local{% endblock %}

{% block body %}
    <h1>Create un nouvel local</h1>

    {{ include('local/_form.html.twig') }}

    <a href="{{ path('local_index') }}">Retour</a>
{% endblock %}
