{% extends 'base.html.twig' %}

{% block title %}Edit Contrat{% endblock %}

{% block body %}
<fieldset class="mt-3 text-dark">
    <legend class="h1 text-center  text-success">Modification du Contrat</legend>

    {{ include('contrat/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('contrat_index') }}">
    <span class="icon">
        <i class="fas fa-arrow-circle-right"></i>
    </span>
    <spaan class="text">Retour</spaan>
</a>
{{ include('contrat/_delete_form.html.twig') }}
</fieldset>

{% endblock %}