{% extends 'base.html.twig' %}

{% block title %}New TypeLocal{% endblock %}

{% block body %}
    <h1>Create new TypeLocal</h1>

    {{ include('type_local/_form.html.twig') }}

    <a href="{{ path('type_local_index') }}">back to list</a>
{% endblock %}
