{% extends 'base.html.twig' %}

{% block title %}Edit Facture{% endblock %}

{% block body %}
<fieldset class="mt-3 text-dark">
    <legend class="h1 text-center  text-success">Modification de la facture</legend>
    {{ include('facture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('facture_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
    </a>
    {{ include('facture/_delete_form.html.twig') }}
</fieldset>

{% endblock %}