{% extends 'base.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
    <fieldset class="mt-3">
        <legend class="h1 text-center  text-success">Creation de facture</legend>
        {{ include('facture/_form.html.twig') }}
    </fieldset>

    

    <a href="{{ path('facture_index') }}">
        <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
        </span>
        <spaan class="text">Retour</spaan>
    </a>
{% endblock %}
